.title_1 {margin: 40px; line-height: 30px;}
.title_2 {margin: 60px; line-height: 10px;}
.line {padding: 5px;}
.border {
    padding-left: 20px;
}

a:link, a:visited { 
  font-weight: bold;
  text-decoration: none;
  color: #990000;
  background-color: inherit;
}
a:hover { 
  font-weight: 600;
  color: #fdeed3;
  background-color: #b15252;
}

h1 {
  color: #6b2925;
  font-family : Arial,Helvetica,Times;
  font-size : 2em;
  text-align: center;
}

h2.line {
  color: #3c3c26;
  background-color: #f8dab4;
  border: #c6a46d 2px solid;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-left: 30px;
}
h3 {
  color: #5c4a2d;
  border-top: #cdbf97 2px solid;
  border-bottom: #cdbf97 2px solid;
  padding-left: 10px;
  margin: 1ex 0px 1ex 0px; /* top right bottom left */
  padding-left: 20px;
}